/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Alegreya Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* unvisited link */
a:link {
    color: #A45E46;
}

/* visited link */
a:visited {
    color: #A45E46;
}

/* mouse over link */
a:hover {
    color: #4E538C;
}

/* selected link */
a:active {
    color: #A45E46;
}

/* link decoration */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
}
.top-navigation > .content {
    height: 70px;
}
.content {
	width: 970px;
	margin: 0 auto;
	padding: 0px 15px;
	font-family: 'Alegreya Sans', sans-serif; 
	font-size: 16px; 
	color: #A78D88; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
.links {
	float:right; 
	margin-top:25px;
  color: #A45E46;
}
.top-navigation .links li {
	margin-left: 25px;
	display:inline-block;
}
.top-navigation .links > .active {
    color: #A45E46;
    font-weight: 600;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #4E538C;
}

/* Introduction Section */
.introduction {
    background-image: url(img/about-me-color.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    overflow: auto;
}
.introduction .content {
    width: 50%;
    float:right;
}
.introduction h1,
.introduction h3 {
    color: #004972;
    text-align: center;
    font-weight: 400;
    line-height: 1.538;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.introduction h1 {
    margin-top: 280px;
    font-size: 50px;
}
.introduction h3 {
    margin-top: 20px;
    font-size: 25px;
}

/* Mugshot 
.mugshot {
    background-image: url(img/mugshot.jpg);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 4px #3E2F1F;
    float:right;
}
HTML: <div class="mugshot"></div>*/

/* About Me */
.about-me {
    height: 750px;
    overflow: auto;
    line-height: 1.538;
} 
.about-me .content {
    width: 50%;
}
.about-me h3 {
    margin-top: 80px;
    font-size: 25px;
    color:#004972;
    font-weight:400;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.about-me p {
    color:#4c5058;
    font-weight: 400;
    font-size: 18px;
}
.facts {
    margin-left:50px;
    color:#4c5058;
    font-weight: 400;
    font-size: 18px;
}

/* List of Services */
.services {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 160px;
}
.services .content {
    margin-top: 126px;
    padding: none;
    color: #1d1e21;
    text-align: center;
}
.services .content p {
    color:#4c5058;
    font-weight: 400;
    font-size: 18px;
}
.services h3 {
    margin-top: 80px;
    font-size: 50px;
    color:#004972;
    font-weight:400;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.services h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color:#8C0100;
    font-weight: 300;
    font-size: 36px;
    margin: 26px 0 50px;
}
.services .column {
    display: flex;
}
.services .column > li {
    width: 33.3333333%;
}
.services .column p {
    font-weight: 200;
    font-size: 18px;
}

/* Portfolio */
.portfolio {
    line-height: 1.538;
} 
/*.portfolio .content {
    width: 50%;
} */
.portfolio h3 {
    margin-top: 60px;
    font-size: 25px;
    color:#004972;
    font-weight:400;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.portfolio p {
    color:#4c5058;
    font-weight: 400;
    font-size: 18px;
}

/* CSS Only Image Slider */

#nav {
  list-style:none;
  padding:0;
  text-align:center;
}

.slideshow {
    height: 750px;
    overflow: auto;}

.link {
  display:inline-block;
  height: 750px;
  vertical-align: center;
}

.linkTitle {
  padding:10px;
}

.link:hover > .linkTitle {
  background-color:lightgray;
}

.link:hover > .subMenu {
  display:block;
}

.subMenu {
  display:none;
  list-style:none;
  text-align:left;
}

/* Footer */
.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 150px;
    text-align: center;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 21px 0;
}
.social .icons > li {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 20px 5px;
    border: 1px; 
    padding: 10px 0;
    text-align: center;
}
.social .icons > li:hover {
    cursor: pointer;
}
.social .linkedin {
    color: #4875B4;
}
.social .angelist {
    color: #3f729b;
}
.social .github {
    color: #3f729b;
}
.social .twitter {
    color: #33CCFF;
}
.social .instagram {
    color: #4E433C;
}
.social .google-plus {
    color: #C63D2D;
}

/* Grid Code */
.grid {
    /* grid code goes here... */
}
*, *:before, *:after {
    box-sizing: border-box;
}
.grid {
    width: 100%;
}

.row {
    margin-bottom: 1em;
}
.grid, .row, [class*="-col"] {
    padding: 0;
    margin: 0;
}
.grid:after, .row:after {
    content: "";
    display: table;
    clear: both;
}
.grid:after, .row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
  margin-bottom: 1em;
}

.row:last-child {
  margin-bottom: 0;
}
[class*="-col"] {
  float: left;
  margin-right: 1.5%;
}

[class*="-col"]:last-child {
    margin-right: 0;
}

/* rest of grid code goes here... */

.one-col {
  width: 6.958%;
}

.two-col {
  width: 15.41%;
}

.three-col {
  width: 23.87%;
}

.four-col {
  width: 32.33%;
}

.five-col {
  width: 40.79%;
}

.six-col {
  width: 49.25%;
}

.seven-col {
  width: 57.70%;
}

.eight-col {
  width: 66.16%;
}

.nine-col {
  width: 74.62%;
}

.ten-col {
  width: 83.08%;
}

.eleven-col {
  width: 91.54%;
}

.twelve-col {
  width: 100%;
}

/* Off-set Code */
.one-offset {
  margin-left: 8.458%;
}

.two-offset {
  margin-left: 16.91%;
}

.three-offset {
  margin-left: 25.37%;
}

.four-offset {
  margin-left: 33.83%;
}

.five-offset {
  margin-left: 42.29%;
}

.six-offset {
  margin-left: 50.75%;
}

.seven-offset {
  margin-left: 59.20%;
}

.eight-offset {
  margin-left: 67.66%;
}

.nine-offset {
  margin-left: 76.12%;
}

.ten-offset {
  margin-left: 84.58%;
}

.eleven-offset {
  margin-left: 91.54%;
}

/* Coloring Code
.grid {
    background-color: #999;
}

.row {
    background-color: #BBB;
}

[class*="-col"] {
    background-color: #EEE;
}
 */

/* Media Queries */ 

@media all and (max-width: 768px) {
  [class*="-col"] {
    width: 100%;
    margin-bottom: 1em;
  }

  .row:last-child > [class*="-col"]:last-child {
    margin-bottom: 0;
  }

  [class*="-offset"] {
    margin-left: 0;
  }

  .row {
    margin: 0;
  }
}

/* Constraining to large screens
.grid {
  max-width: 960px;
}*/