/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
}
.top-navigation > .content {
    height: 70px;
}
.content {
	width: 970px;
	margin: 0 auto;
	padding: 0px 15px;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #A78D88; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
.links {
	float:right; 
	margin-top:25px;
}
.top-navigation .links li {
	margin-left: 25px;
	display:inline-block;
}
.top-navigation .links > .active {
    color: #F17200;
    font-weight: 600;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #EFB600;
}

/* Introduction Section */
.introduction {
    background-image: url(img/about-me-color.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    overflow: auto;
}
.introduction .content {
    width: 50%;
    float:right;
}
.introduction h1,
.introduction h3 {
    color: #00153E;
    text-align: center;
    font-weight: 400;
    line-height: 1.538;
}
.introduction h1 {
    margin-top: 280px;
    font-size: 50px;
}
.introduction h3 {
    margin-top: 20px;
    font-size: 25px;
}

/* Mugshot 
.mugshot {
    background-image: url(img/mugshot.jpg);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 4px #3E2F1F;
    float:right;
}*/

/* About Me */
.about-me {
    height: 750px;
    overflow: auto;
    line-height: 1.538;
} 
.about-me .content {
    width: 50%;
}
.about-me h3 {
    margin-top: 80px;
    font-size: 50px;
    color:#004972;
    font-weight:400;
    margin-top: 20px;
    font-size: 25px;
}
.about-me p {
    color:#4c5058;
    font-weight: 400;
    font-size: 18px;
}

/* List of Services */
.services {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 160px;
}
.services .content {
    margin-top: 126px;
    padding: none;
    color: #1d1e21;
    text-align: center;
}
.services h2 {
    font-size: 44px;
    margin: 26px 0 50px;
    font-weight: 300;
}
.services .column {
    display: flex;
}
.services .column > li {
    width: 33.3333333%;
}
.services .column h3 {
    color:#8C0100;
    font-weight: 400;
    font-size: 25px;
    margin: 40px 0px 30px;
}
.services .column p {
    font-weight: 200;
    font-size: 18px;
}



/* Footer */
.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 150px;
    text-align: center;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 21px 0;
}
.social .icons > li {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 20px 5px;
    border: 1px; 
    padding: 10px 0;
    text-align: center;
}
.social .icons > li:hover {
    cursor: pointer;
}
.social .linkedin {
    color: #4875B4;
}
.social .github {
    color: #3f729b;
}
.social .twitter {
    color: #33CCFF;
}
.social .instagram {
    color: #4E433C;
}
.social .google-plus {
    color: #C63D2D;
}